<div class="login-container">
  <div class="login-card">
<h2 *ngIf="!modoRegistro">Login</h2>
<h2 *ngIf="modoRegistro">Registrar</h2>

<div *ngIf="modoRegistro" class="form-group">
  <label for="nome">Nome:</label>
  <input id="nome" [(ngModel)]="nome" placeholder="Seu nome">
</div>

<div class="form-group">
  <label for="email">Email:</label>
  <input type="email" id="email" [(ngModel)]="email" placeholder="Seu email">
</div>

<div class="form-group">
  <label for="senha">Senha:</label>
  <input type="password" id="senha" [(ngModel)]="senha" placeholder="Sua senha">
</div>

<div class="erro" *ngIf="erro">{{erro}}</div>

<button *ngIf="!modoRegistro" (click)="login()">Entrar</button>
<button *ngIf="modoRegistro" (click)="registrar()">Registrar</button>

<button type="button" class="toggle" (click)="toggleModo()">
  {{ modoRegistro ? 'Já tenho conta' : 'Criar nova conta' }}
</button>

<div class="dicas" *ngIf="!modoRegistro">
  
</div>
  </div>
</div>